
#menu {
  display:flex;
  justify-content: right;
  font-size: 110%;
  background-color: brown;
  line-height: 76px;
  width: 100px;
  text-align: center;
}

#menu li {
  list-style-type: none;
  color: yellow;
  text-align: center;
  flex-basis: 75px;
}

#box {
  width: 200px;
  height: 94px;
  background-color: orange;
}

.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}